<header class="top-0 w-full fixed h-20 border border-bottom bg-white">
  <section class="container mx-auto h-full">
    <%= link_to root_url do %>
      <nav class="w-60 text-2xl font-mono flex h-full items-center justify-center border-x">
        <span class="text-cyan-500">ベテランすまい</span>
      </nav>
    <% end %>
  </section>
</header>
