<section>
    <div class="text-center">
        <h1 class='text-2xl text-red-500'>査定依頼中にエラーが発生しました。</h1>
    </div>
    <div class='my-10 text-center'>
        <%= link_to "トップページに戻る", root_url, class: 'text-xl bg-blue-400 text-white px-10 py-5 rounded-lg m-auto ' %>
    </div>
</section>