<section>
    <div class="text-center">
        <h1 class='text-2xl mb-3.5' >お問い合わせありがとうございました。</h1>
        <p>査定依頼ありがとうございます。<br>不動産会社からのご連絡をお待ちください。</p>
    </div>
    </div>
    <div class='my-10 text-center'>
        <%= link_to "トップページに戻る", root_url, class: 'text-xl bg-blue-400 text-white px-10 py-5 rounded-lg m-auto ' %>
    </div>
</section>