<div>
  <h1 class="text-4xl text-center">サマーテックサークル 六本木支店</h1>
  <section class="my-10">
    <section>
      <p class="text-xl mb-1.5">ベテランすまいの開発はサマーテックサークル 六本木支店にお任せください</p>
      <p>クロステック、こうくん、結城、もこの4人で頑張っています！</p>
    </section>
  </section>
  <h2 class="text-white bg-blue-700 px-3">サマーテックサークル 六本木支店について</h2>
  <section class="flex flex-row flex-wrap mt-5">
    <%= image_tag "offices/taiyou_sunglass.png", class: "h-52 basis-full lg:basis-1/4 object-contain mb-3 lg:mb-0" %>
    <aside>
      <table class="text-left">
        <tr>
          <th scope="row" class="px-2 py-0.5 whitespace-nowrap">店舗名</th>
          <td class="px-2 py-0.5">サマーテックサークル 六本木支店</td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-0.5 whitespace-nowrap">郵便番号</th>
          <td class="px-2 py-0.5">106-0032</td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-0.5 whitespace-nowrap">住所</th>
          <td class="px-2 py-0.5">東京都港区六本木3-2-1 六本木グランドタワー35階の一角</td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-0.5 whitespace-nowrap">電話番号</th>
          <td class="px-2 py-0.5">777-777-7777</td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-0.5 whitespace-nowrap">FAX</th>
          <td class="px-2 py-0.5">777-777-7777</td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-0.5 whitespace-nowrap">営業時間</th>
          <td class="px-2 py-0.5">10:00~15:00</td>
        </tr>
        <tr>
          <th scope="row" class="px-2 py-0.5 whitespace-nowrap">定休日</th>
          <td class="px-2 py-0.5">平日と休日と祝日</td>
        </tr>
      </table>
    </aside>
  </section>
</div>
