<% #　TODO: #57 直接書き込まれている文字列を変数に置き換え %>
<section>
  <% # TODO: company.name + office.name で置き換え %>
  <h1 class="text-4xl text-center">サマーテックサークル 六本木支店</h1>
  <% # ↓のdivタグ以下のタグ構成について悩んでいます。とりあえずdivでchartとキャッチコピー&紹介文を囲みましたが、他にいい方法があれば教えて欲しいです %>
  <div class="my-10">
    <% # ここに口コミのchartが入ります %>
    <section>
      <% # TODO: office.catch_copyで置き換え %>
      <h2 class="text-xl mb-1.5">ベテランすまいの開発はサマーテックサークル 六本木支店にお任せください</h2>
      <% # TODO: office.introduction で置き換え %>
      <p>クロステック、こうくん、結城、もこの4人で頑張っています！</p>
    </section>
  </div>
</section>
<%= render partial: 'about_office' %>
<%= render partial: 'review_list' %>