<div>
  <% #　TODO: #57 直接書き込まれている文字列を変数に置き換え %>
  <% # TODO: company.name + office.name で置き換え %>
  <h1 class="text-4xl text-center">サマーテックサークル 六本木支店</h1>
  <section class="my-10">
    <section>
      <% # TODO: office.catch_copyで置き換え %>
      <p class="text-xl mb-1.5">ベテランすまいの開発はサマーテックサークル 六本木支店にお任せください</p>
      <% # TODO: office.introduction で置き換え %>
      <p>クロステック、こうくん、結城、もこの4人で頑張っています！</p>
    </section>
  </section>
  <%= render partial: 'about_office' %>
  <h2 class="text-white bg-blue-700 px-3 text-lg">サマーテックサークルで売却した人の口コミ</h2>
  <section class="flex flex-col gap-4 pt-5">
    <article class="p-5 border border-slate-400">
      <div class="flex gap-5 mb-2 lg:items-center flex-col lg:flex-row">
        <span class="flex flex-no-wrap items-center gap-2">4.3 <span class="stars" style="--rating: 4.3; --star-size: 20px;" aria-label="Rating of this product is 4.3 out of 5."></span></span>
        <h3 class="text-xl">スムーズな取引ができました！</h3>
      </div>
      <p class="mb-2">ほとんど担当者の方がやってくださりとても楽でした。何かあるときは必ず電話で確認をとってくれてとても信用できました。迅速な対応がとても良かったです。</p>
      <div class="flex justify-between flex-col lg:flex-row">
        <span class="flex gap-3 flex-col md:flex-row">
          <span class="text-lg text-red-500 font-bold">成約価格 1,500万円</span>
          <span class="flex gap-3">
            <span class="bg-amber-500 text-white px-2 font-medium">対応満足</span>
            <span class="bg-green-500 text-white px-2 font-medium">価格満足</span>
            <span class="bg-sky-500 text-white px-2 font-medium">速度満足</span>
          </span>
        </span>
        <span class="mt-2 lg:mt-0">(京都府京都市・2002年10月に売却)</span>
      </div>
    </article>
    <article class="p-5 border border-slate-400">
      <div class="flex gap-5 mb-2 lg:items-center flex-col lg:flex-row">
        <span class="flex flex-no-wrap items-center gap-2">4.3 <span class="stars" style="--rating: 4.3; --star-size: 20px;" aria-label="Rating of this product is 4.3 out of 5."></span></span>
        <h3 class="text-xl">スムーズな取引ができました！</h3>
      </div>
      <p class="mb-2">ほとんど担当者の方がやってくださりとても楽でした。何かあるときは必ず電話で確認をとってくれてとても信用できました。迅速な対応がとても良かったです。</p>
      <div class="flex justify-between flex-col lg:flex-row">
        <span class="flex gap-3 flex-col md:flex-row">
          <span class="text-lg text-red-500 font-bold">成約価格 1,500万円</span>
          <span class="flex gap-3">
            <span class="bg-amber-500 text-white px-2 font-medium">対応満足</span>
            <span class="bg-green-500 text-white px-2 font-medium">価格満足</span>
            <span class="bg-sky-500 text-white px-2 font-medium">速度満足</span>
          </span>
        </span>
        <span class="mt-2 lg:mt-0">(京都府京都市・2002年10月に売却)</span>
      </div>
    </article>
  </section>
</div>
