<div>
  <% #　TODO: #57 直接書き込まれている文字列を変数に置き換え %>
  <% # TODO: company.name + office.name で置き換え %>
  <h1 class="text-4xl text-center">サマーテックサークル 六本木支店</h1>
  <section class="my-10">
    <section>
      <% # TODO: office.catch_copyで置き換え %>
      <p class="text-xl mb-1.5">ベテランすまいの開発はサマーテックサークル 六本木支店にお任せください</p>
      <% # TODO: office.introduction で置き換え %>
      <p>クロステック、こうくん、結城、もこの4人で頑張っています！</p>
    </section>
  </section>
  <%= render partial: 'about_office' %> 
</div>